extends layout
block content
    .container.container-width
        .box
            table.Table.table-hov
                tr.Header
                    th Fansub Group
                    th Tag
                    th Language
                    th Website
                    th IRC
                    th Founded
                    th RSS
                    each group, i in data
                        tr.Row
                            td
                                a(href='/groups/#{group.group_id}') #{group.name}
                            td #{group.short_name}
                            td #{group.language}
                            td
                                a(target='_blank', href='#{group.website}') #{group.website}
                            td
                                a(href='irc://#{group.irc_server}/#{group.irc_channel}') ##{group.irc_channel}@#{group.irc_server}

                            td #{group.founded_timestamp}
                            td RSS
