extends layout
block content
    if data
        .container-width
            .box
                img.banner(src='#{data.banner}')

            .box
                .header
                    h5 #{data.name} [#{data.short_name}]
                table.tor
                    tbody
                        tr
                            td(width='50%;')
                                table
                                    tbody
                                        tr
                                            th Language:
                                            td #{data.language}
                                        tr
                                            th Founded:
                                            td #{data.founded_timestamp}
                                        tr
                                            th Leader:
                                            td
                                                a(href='/users/#{data.leader_id}') #{data.username}
                                        tr
                                            th Website:
                                            td
                                                a(href='#{data.website}',target='_blank') #{data.website}
                                        tr
                                            th IRC Channel:
                                            td
                                                a(href='irc://#{data.irc_server}/#{data.irc_channel}') ##{data.irc_channel}@#{data.irc_server}
                                        tr
                                            th Contact:
                                            td #{data.contact}
                                    //-
                                        tr
                                            th RSS:
                                            td RSS link
                        //-
                            td(width='50%;')
                                table
                                    tbody
                                        tr
                                            th Total series:
                                            td ???
                                        tr
                                            th Total torrents:
                                            td ???
                                        tr
                                            th Total size:
                                            td ???
                                        tr
                                            th Total seeds:
                                            td ???
                                        tr
                                            th Total leechers:
                                            td ???
                                        tr
                                            th Total completed:
                                            td ???
                                        tr
                                            th Release frequency:
                                            td x times per week

            .box.box-anidex.tleft
                table.Table.table-hov
                    tr.Header
                        th.tor-cat-title.tleft Cat.
                        th.tor-name Name
                        th.tor-d DL
                        th.tor-size Size
                        th.tor-age Age
                        th.tor-s S
                        th.tor-l L
                        th.tor-c.tright C
                    if torrents.length > 0
                        each torrent, i in torrents
                            - var rowclass = 'even'
                            //- var rowclass = (i % 2 == 0) ? 'odd' : 'even'
                            tr.Row
                                td.brown(class=(i === torrents.length - 1) ? 'bleft' : '') #{torrent.category_name}
                                td.tor-name
                                    a(href='/torrents/#{torrent.torrent_id}' style='color: #2F4F70') #{torrent.filename}
                                    if torrent.comments > 0
                                        span.badge.pull-right(rel='tooltip' title='Comments' data-placement='left') #{torrent.comments}
                                td.center
                                    a.glyphicon.glyphicon-save(href='/download/#{torrent.torrent_id}')
                                    //-span &nbsp;
                                    //-a.glyphicon.glyphicon-magnet(href='http://anidex.moe/')
                                td.brown.center #{torrent.size}
                                td.center #{torrent.created}
                                td.green.center #{torrent.complete}
                                td.red.center #{torrent.incomplete}
                                td.purple.center(class=(i === torrents.length - 1) ? 'bright' : '') #{torrent.downloaded}
                    else
                        tr.Row
                            td.tor-empty(colspan='8' style='text-align: center;') No torrents found
        //-
            .box
                .header
                    h5 Comments
                table.tor
                    tbody
                        tr
                            td
                                table
                                    tbody
                                        tr
                                            td Comment xyz
                                            td
                                        tr
                            td
    else
        .container.container-width
            p invalid ID.
