extends layout
block content
    .container
        .box
            table.Table.table-hov
                tr.Header
                    th Fansub Group
                    th Tag
                    th Language
                    th Website
                    th IRC
                    th Founded
                    th RSS
                    each group, i in data
                        tr.Row
                            td #{group.name}
                            td #{group.short_name}
                            td #{group.language}
                            td #{group.website}
                            td #{group.irc}
                            td #{group.founded_timestamp}
                            td RSS
