extends layout
block content
    .container.container-width
        .box
            table.Table.table-hov
                tr.Header
                    th(style='width: 100px;') Tag
                    th Fansub Group
                    th(style='width: 100px;') Language
                    th(style='width: 100px;') Founded
                    th(style='width: 200px;') Links
                    th(style='width: 200px;') IRC
                    each group, i in data
                        tr.Row
                            td #{group.short_name}
                            td
                                a(href='/groups/#{group.group_id}') #{group.name}
                            td(style='width: 100px;') #{group.language}
                            td #{group.founded_timestamp}
                            td
                                a(target='_blank', href='#{group.website}')
                                    span(class='label label-default') #{group.website}
                            td
                                a(href='irc://#{group.irc_server}/#{group.irc_channel}')
                                    span(class='label label-info') ##{group.irc_channel}@#{group.irc_server}
                            //-
                                a(href='#')
                                    span(class='label label-default') RSS

