extends layout
block content
    if data
        .container.container-width
            .box
                img.banner(src='#{data.banner}')
            
            .box
                .header
                    h5 #{data.name} [#{data.short_name}]
                table.tor
                    tbody
                        tr
                            td.tor-details(width='400px;')
                                table
                                    tbody
                                        tr
                                            th.tor-details Language:
                                            td.tor-details #{data.language}
                                                
                                        tr
                                            th.tor-details Founded:
                                            td.tor-details #{data.founded_timestamp}
                                                    
                                        tr
                                            th.tor-details Leader:
                                            td.tor-details #{data.leader_id}
                                                    
                                        tr
                                            th.tor-details Website:
                                            td.tor-details 
                                                a(href='#{data.website}',target='_blank') #{data.website}
                                        tr
                                            th.tor-details IRC Channel:
                                            td.tor-details 
                                                a(href='irc://#{data.irc_server}/#{data.irc_channel}') ##{data.irc_channel}@#{data.irc_server}
                                        tr
                                            th.tor-details Contact:
                                            td.tor-details #{data.email}

                            td.tor-details(width='400px;')
                                table
                                    tbody
                                        tr
                                            th.tor-details Total series:
                                            td.tor-details ???
                                        tr
                                            th.tor-details Total torrents:
                                            td.tor-details 
                                        tr
                                            th.tor-details Total seeds:
                                            td.tor-details ???
                                        tr
                                            th.tor-details Total leechers:
                                            td.tor-details ???
                                        tr
                                            th.tor-details Total completed:
                                            td.tor-details ???

                            td.tor-details(width='*')
                                

            .box
                .header
                    h5 Torrents
                        a(onclick="hide();") (show/hide)
                table.tor#files(style="display: none;")
                    tbody
                        tr
                            td.tor-details
                                table
                                    tbody
                                        tr
                                            td.tor-details File xyz
                                            td.tor-details 
                                        tr
            .box
                .header
                    h5 Comments
                table.tor
                    tbody
                        tr
                            td.tor-details
                                table
                                    tbody
                                        tr
                                            td.tor-details Comment xyz
                                            td.tor-details 
                                        tr
                            td.tor-details
    else
        .container
            p invalid ID.
