extends layout
block content
    .container.container-width
        .box
            table.Table.table-hov
                tr.Header
                    th Fansub Group
                    th Tag
                    th Language
                    th Founded
                    th Links
                    each group, i in data
                        tr.Row
                            td
                                a(href='/groups/#{group.group_id}') #{group.name}
                            td #{group.short_name}
                            td #{group.language}
                            td #{group.founded_timestamp}
                            td 
                                a(target='_blank', href='#{group.website}') 
                                    span(class='label label-default') #{group.website}
                                a(href='irc://#{group.irc_server}/#{group.irc_channel}') 
                                    span(class='label label-info') ##{group.irc_channel}@#{group.irc_server}
                                span(class='label label-default') RSS

