extends layout
block content
    .container.container-width
        .alert.alert-warning.alert-dismissible(role='alert').center
            button.close(data-dismiss='alert', type='button')
                span(aria-hidden='true') &times;
                span.sr-only Close
            strong Yo!&nbsp;
            | Welcome to our new tracker. It's still a work in progress.
        .box
            ul.nav.nav-tabs(role='tablist')
                li.active
                    a(href='#') All
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        | Anime
                    ul.dropdown-hover.dropdown-menu(role='menu')
                        li
                            a(href='#') Anime (English)
                        li
                            a(href='#') Anime (Non-English)
                        li
                            a(href='#') Anime (Raws)
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        | Manga
                    ul.dropdown-hover.dropdown-menu(role='menu')
                        li
                            a(href='#') Manga (English)
                        li
                            a(href='#') Manga (Non-English)
                        li
                            a(href='#') Manga (Raws)
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        | Music
                    ul.dropdown-hover.dropdown-menu(role='menu')
                        li
                            a(href='#') Music (Lossy)
                        li
                            a(href='#') Music (Lossless)
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        | Literature
                    ul.dropdown-hover.dropdown-menu(role='menu')
                        li
                            a(href='#') Literature (English)
                        li
                            a(href='#') Literature (Non-English)
                        li
                            a(href='#') Literature (Raws)
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        | Live Action
                    ul.dropdown-hover.dropdown-menu(role='menu')
                        li
                            a(href='#') Live Action (English)
                        li
                            a(href='#') Live Action (Non-English)
                        li
                            a(href='#') Live Action (Raws)
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        | Software
                    ul.dropdown-hover.dropdown-menu(role='menu')
                        li
                            a(href='#') Software (English)
                        li
                            a(href='#') Software (Non-English)
                        li
                            a(href='#') Software (Raws)
                li
                    a(href='#') Other
                li
                    div.btn-group.btn-sm
                        button.btn.btn-sm.btn-filter(type='filter' data-toggle='buttons-checkbox').active Unofficial
                        button.btn.btn-sm.btn-filter(type='filter' data-toggle='buttons-checkbox').active Re-encodes
                        button.btn.btn-sm.btn-filter-r18(type='filter' data-toggle='buttons-checkbox') R18+
            table.Table.table-hov
                tr.Header
                    th.tor-cat-title.tleft Cat.
                    th.tor-name Name
                    th.tor-d DL
                    th.tor-size Size
                    th.tor-age Age
                    th.tor-s S
                    th.tor-l L
                    th.tor-c.tright C
                if torrents.length > 0
                    each torrent, i in torrents
                        - var rowclass = (i % 2 == 0) ? 'odd' : 'even'
                        tr.Row
                            td.brown(class=[(i === torrents.length - 1) ? 'bleft' : '', rowclass]) #{torrent.category_name}
                            td.tor-name(class=rowclass)
                                a(href='/torrents/#{torrent.torrent_id}' style="color: #2F4F70") #{torrent.filename}
                                if torrent.comments > 0
                                    span.badge.pull-right(rel="tooltip" title="Comments" data-placement="left") #{torrent.comments}
                            td.center(class=rowclass)
                                a.glyphicon.glyphicon-save(href="http://anidex.moe/")
                                span &nbsp;
                                a.glyphicon.glyphicon-magnet(href="http://anidex.moe/")
                            td.brown.center(class=rowclass) #{torrent.size}
                            td.center(class=rowclass) #{torrent.created}
                            td.green.center(class=rowclass) #{torrent.complete}
                            td.red.center(class=rowclass) #{torrent.incomplete}
                            td.purple.center(class=[(i === torrents.length - 1) ? 'bright' : '', rowclass]) #{torrent.downloaded}
                else
                    tr.Row
                        td.tor-empty(colspan="8" style="text-align: center;") No results found

