extends layout
block content
    .container
        .box
            .header
                h5 News
            .panel-body #{news}
        hr
        .box
            table.tor
                tbody
                    tr
                        th.tor-cat-title Cat.
                        th Name
                        th.tor-d DL
                        th.tor-size Size
                        th.tor-age Age
                        th.tor-s S
                        th.tor-l L
                        th.tor-c C
                    each torrent, i in torrents
                        tr(class=(i % 2 == 0) ? 'odd' : 'even')
                            td.tor-cat #{torrent.cat}
                            td.tor-name #{torrent.name}
                                if torrent.comments > 0
                                    span.badge.pull-right(rel="tooltip" title="Comments" data-placement="left") #{torrent.comments}
                            td.tor-d
                                a.glyphicon.glyphicon-save(href="http://anidex.moe/")
                                span &nbsp;
                                a.glyphicon.glyphicon-magnet(href="http://anidex.moe/")
                            td.tor-size 900.1MB
                            td.tor-age 2983 Days
                            td.tor-s #{torrent.seeders}
                            td.tor-l #{torrent.leechers}
                            td.tor-c #{torrent.completed}
                           
    include modals/login
