extends layout
block content
    .container
        .box
            table.tor
                tbody
                    tr
                        th.tor-cat-title Cat.
                        th Name
                        th.tor-d DL
                        th.tor-size Size
                        th.tor-age Age
                        th.tor-s S
                        th.tor-l L
                        th.tor-c C
                    each torrent, i in torrents
                        tr(class=(i % 2 == 0) ? 'odd' : 'even')
                            td.tor-cat #{torrent.category_name}
                            td.tor-name
                                a(href='/torrent?id=#{torrent.torrent_id}' style="color: #2F4F70") #{torrent.filename}
                                if torrent.comments > 0
                                    span.badge.pull-right(rel="tooltip" title="Comments" data-placement="left") #{torrent.comments}
                            td.tor-d
                                a.glyphicon.glyphicon-save(href="http://anidex.moe/")
                                span &nbsp;
                                a.glyphicon.glyphicon-magnet(href="http://anidex.moe/")
                            td.tor-size #{torrent.size}
                            td.tor-age #{torrent.created}
                            td.tor-s #{torrent.complete}
                            td.tor-l #{torrent.incomplete}
                            td.tor-c #{torrent.downloaded}

    include modals/login
