extends layout
block content
    .container
        .box
            .header
                h5 News
            .panel-body #{news}
        hr
        .box
            .header
                h5 Releases
            table.tor
                tbody
                    tr
                        th.tor
                        th.tor.tor-d Download
                        th.tor Name
                        th.tor.tor-size Size
                        th.tor.tor-age Age
                        th.tor.tor-s S
                        th.tor
                        th.tor.tor-l L
                        th.tor.tor-c Completed
                    each torrent, i in torrents
                        tr(class=(i % 2 == 0) ? 'odd' : 'even')
                            td.tor.tor-cat #{torrent.cat}
                            td.tor.tor-d
                                a(href='http://anidex.moe/') Tor
                                span &nbsp;/&nbsp;
                                a(href='http://anidex.moe/') Mag
                            td.tor.tor-name #{torrent.name}
                                if torrent.comments > 0
                                    span.badge.pull-right(rel="tooltip" title="Comments") #{torrent.comments}
                            td.tor.tor-size 900.1MB
                            td.tor.tor-age 0 Hours
                            td.tor.tor-s #{torrent.seeders}
                            td.tor.tor-separator /
                            td.tor.tor-l #{torrent.leechers}
                            td.tor.tor-c #{torrent.completed}

