extends layout
block content
    .container
        .box
            .header
                h5 News
            .panel-body #{news}
        hr
        .box
            .header
                h5 Torrent Details
            table.tor
                tbody
                    tr
                        td.tor-details 
                            table
                                tbody
                                    tr
                                        th.tor-details Name:
                                        td.tor-details #{torrent.name}
                                    tr
                                        th.tor-details Uploader:
                                        td.tor-details 
                                            a(href='/user?id=1') #{torrent.uploader}
                                    tr
                                        th.tor-details Group:
                                        td.tor-details 
                                            a(href='/group?id=1') #{torrent.group}
                                    tr
                                        th.tor-details Website:
                                        td.tor-details 
                                            a(href='#{torrent.website}') #{torrent.website}
                                    tr
                                        th.tor-details Date:
                                        - var d = new Date(#{torrent.timestamp})
                                        td.tor-details d
                                            
                                            
                        td.tor-details 

                        
    include modals/login
