extends layout
block content
    .container
        .box
            .header
                h5 #{torrent.name}
            table.tor
                tbody
                    tr
                        td.tor-details(width='40%')
                            table
                                tbody
                                    tr
                                        th.tor-details Uploader:
                                        td.tor-details 
                                            a(href='/user?id=1') #{torrent.uploader}
                                    tr
                                        th.tor-details Group:
                                        td.tor-details 
                                            a(href='/group?id=1') #{torrent.group}
                                    tr
                                        th.tor-details Website:
                                        td.tor-details 
                                            a(href='#{torrent.website}') #{torrent.website}
                                    tr
                                        th.tor-details Date:
                                        td.tor-details date!
                                    tr
                                        th.tor-details File size:
                                        td.tor-details #{torrent.file_size}
                                    tr
                                        th.tor-details Seeders:
                                        td.tor-details.green #{torrent.seeders}
                                    tr
                                        th.tor-details Leechers:
                                        td.tor-details.red #{torrent.leechers}
                                    tr
                                        th.tor-details Completed:
                                        td.tor-details.purple #{torrent.completed}
                                    tr
                                        th.tor-details Hash:
                                        td.tor-details #{torrent.info_hash}
                                    tr
                                        th.tor-details Download:
                                        td.tor-details
                                            a.glyphicon.glyphicon-save(href="http://anidex.moe/")
                                            span &nbsp;
                                            a.glyphicon.glyphicon-magnet(href="http://anidex.moe/")
                        td.tor-details(width='40%')
                            table
                                tbody  
                                    tr
                                        th.tor-details Name:
                                        td.tor-details Mahouka
                                    tr
                                        th.tor-details Type:
                                        td.tor-details Anime
                                    tr
                                        th.tor-details Status:
                                        td.tor-details Airing
                                    tr
                                        th.tor-details Aired:
                                        td.tor-details Spring 2014
                                    tr
                                        th.tor-details Episodes:
                                        td.tor-details 24
                                    tr
                                        th.tor-details Genres:
                                        td.tor-details Magic etc etc
                                    tr
                                        th.tor-details Description:
                                        td.tor-details blablablablablablablab
                                    tr
                                        th.tor-details Ext. Link:
                                        td.tor-details #{torrent.anidb_url}
                                    
                        td.tor-details(width='20%')
                            img(src='http://cdn.myanimelist.net/images/anime/11/61039.jpg')
                                    
        .box
            .header                
                h5 Files 
                    a(onclick="hide();") (show/hide)
            table.tor#files(style="display: none;")
                tbody
                    tr
                        td.tor-details 
                            table
                                tbody
                                    tr
                                        td.tor-details File xyz
                                        td.tor-details #{torrent.filelist}
                                    tr
        .box                        
            .header
                h5 Comments
            table.tor
                tbody
                    tr
                        td.tor-details 
                            table
                                tbody
                                    tr
                                        td.tor-details Comment xyz
                                        td.tor-details #{torrent.comments}
                                    tr                                            
                        td.tor-details 

                        
    include modals/login
    script.
        function hide() {
            $('#files').toggle();
        }       
