extends layout
block content
    .container
        hr
        .box
            .header
                h5 Torrent Details
            table.tor
                tbody
                    tr
                        td.tor-details 
                            table
                                tbody
                                    tr
                                        th.tor-details Name:
                                        td.tor-details #{torrent.name}
                                    tr
                                        th.tor-details Uploader:
                                        td.tor-details 
                                            a(href='/user?id=1') #{torrent.uploader}
                                    tr
                                        th.tor-details Group:
                                        td.tor-details 
                                            a(href='/group?id=1') #{torrent.group}
                                    tr
                                        th.tor-details Website:
                                        td.tor-details 
                                            a(href='#{torrent.website}') #{torrent.website}
                                    tr
                                        th.tor-details Date:
                                        td.tor-details date!
                                    tr
                                        th.tor-details File size:
                                        td.tor-details #{torrent.file_size}
                                    tr
                                        th.tor-details Seeders:
                                        td.tor-details #{torrent.seeders}
                                    tr
                                        th.tor-details Leechers:
                                        td.tor-details #{torrent.leechers}
                                    tr
                                        th.tor-details Completed:
                                        td.tor-details #{torrent.completed}
                                    tr
                                        th.tor-details Hash:
                                        td.tor-details #{torrent.info_hash}
                                    tr
                                        th.tor-details AniDB:
                                        td.tor-details #{torrent.anidb_url}
                        td.tor-details
                            table
                                tbody  
                                    tr
                                        th-tor-details Anime
        hr
        .box
            .header                
                h5 Files 
                    a(onclick="hide();") (show/hide)
            table.tor#files(style="display: none;")
                tbody
                    tr
                        td.tor-details 
                            table
                                tbody
                                    tr
                                        td.tor-details File xyz
                                        td.tor-details #{torrent.filelist}
                                    tr
        hr
        .box                        
            .header
                h5 Comments
            table.tor
                tbody
                    tr
                        td.tor-details 
                            table
                                tbody
                                    tr
                                        td.tor-details Comment xyz
                                        td.tor-details #{torrent.comments}
                                    tr                                            
                        td.tor-details 

                        
    include modals/login
    script.
        function hide() {
            $('#files').toggle();
        }       
