extends ../layout
block content
    .container-width
        .alert.alert-info.alert-dismissible(role='alert').center
            button.close(data-dismiss='alert', type='button')
                span(aria-hidden='true') &times;
                span.sr-only Close
            strong Yo!&nbsp;
            | Welcome to our new tracker. It's still a work in progress.
        .row
            .pull-left
                ul.nav.nav-tabs.anidex-tabs(role='tablist')
                    li.active
                        a(href='#') All
                    li
                        a(href='#') Anime
                    li
                        a(href='#') Manga
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                            | Music
                        ul.dropdown-hover.dropdown-menu(role='menu')
                            li
                                a(href='#') Music (Lossy)
                            li
                                a(href='#') Music (Lossless)
                    li
                        a(href='#') Literature
                    li
                        a(href='#') Live Action
                    li
                        a(href='#') Software
                    li
                        a(href='#') Other
            .pull-right
                .btn-group.btn-sm.pull-right
                    button.btn.btn-sm.btn-filter(type='button' data-toggle='buttons-checkbox').active Unofficial
                    button.btn.btn-sm.btn-filter-r18(type='button' data-toggle='buttons-checkbox') R18+
                select.form-control.lang.pull-right
                    option All languages
                    option English
                    option Non-English
                    option Raws
        .box.box-anidex.tleft
            table.torrentList
                tr.torrentList-header
                    th.torrentList-header.torrentList-header--category.tleft Cat.
                    th.torrentList-header.torrentList-header--download DL
                    th.torrentList-header.torrentList-header--name Name
                    th.torrentList-header.torrentList-header--size Size
                    th.torrentList-header.torrentList-header--age Age
                    th.torrentList-header.torrentList-header--seeders S
                    th.torrentList-header.torrentList-header--leechers L
                    th.torrentList-header.torrentList-header--completed.tright C
                if torrents.length > 0
                    each torrent, i in torrents
                        - var rowclass = 'even'
                        //- var rowclass = (i % 2 == 0) ? 'odd' : 'even'
                        tr
                            td.torrentList-item.torrentList-item--category(class=(i === torrents.length - 1) ? 'bleft' : '') #{torrent.category_name}
                            td.torrentList-item.torrentList-item--download
                                a.glyphicon.glyphicon-save(href='/download/#{torrent.torrent_id}')
                            td.torrentList-item.torrentList-item--name
                                a(href='/torrents/#{torrent.torrent_id}' style='color: #2F4F70') #{torrent.filename}
                                if torrent.comments > 0
                                    span.badge.pull-right(rel='tooltip' title='Comments' data-placement='left') #{torrent.comments}
                                //-span &nbsp;
                                //-a.glyphicon.glyphicon-magnet(href='http://anidex.moe/')
                            td.torrentList-item.torrentList-item--size #{torrent.size}
                            td.torrentList-item.torrentList-item--age #{torrent.age}
                            td.torrentList-item.torrentList-item--seeders #{torrent.complete}
                            td.torrentList-item.torrentList-item--leechers #{torrent.incomplete}
                            td.torrentList-item.torrentList-item--completed #{torrent.downloaded}
                else
                    tr
                        td.torrentList-item(colspan='8') No results found

