extends ../layout
block content
    if torrent
        .container.container-width
            .box
                .header
                    h5 #{torrent.filename}
                table.tor
                    tbody
                        tr
                            td(width='400px;')
                                table
                                    tbody
                                        tr
                                            th Uploader:
                                            td
                                                a(href='/users/#{torrent.user_id}') #{torrent.username}
                                        if torrent.group_id > 0
                                            tr
                                                th Group:
                                                td
                                                    a(href='/groups/#{torrent.group_id}') #{torrent.group_name}
                                            tr
                                                th Website:
                                                td
                                                    a(href='#{torrent.website}') #{torrent.website}
                                        tr
                                            th Date:
                                            td #{torrent.created}
                                        tr
                                            th Type:
                                            td #{torrent.category_name}
                                        tr
                                            th File size:
                                            td #{torrent.size}
                                        tr
                                            th Seeders:
                                            td.green #{torrent.complete}
                                        tr
                                            th Leechers:
                                            td.red #{torrent.incomplete}
                                        tr
                                            th Completed:
                                            td.purple #{torrent.downloaded}
                                        tr
                                            th Hash:
                                            td #{torrent.info_hash}
                                        tr
                                            th Download:
                                            td
                                                a.glyphicon.glyphicon-save(href='/download/#{torrent.torrent_id}')
                                                //-span &nbsp;
                                                //-a.glyphicon.glyphicon-magnet(href='http://anidex.moe/')
        //-
            .box
                .header
                    h5 Files&nbsp;
                        a(onclick='hide();') (show/hide)
                table.tor#files(style='display: none;')
                    tbody
                        tr
                            td
                                table
                                    tbody
                                        tr
                                            td File xyz
                                            td #{torrent.filelist}
                                        tr
            .box
                .header
                    h5 Comments
                table.tor
                    tbody
                        tr
                            td
                                table
                                    tbody
                                        tr
                                            td Comment xyz
                                            td #{torrent.comments}
                                        tr
                            td
    else
        .container
            p invalid ID.
//-
    script.
        function hide() {
            $('#files').toggle();
        }
